body {
  padding: 2em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

section.question {
  margin: 0 0 3em;
}

.prism-callout {
  background-color: #f5f2f0;
  padding: 1em;
}
